body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 30px;
  z-index: 1000;
  border-bottom: 1px solid #333;
}

.navbar .logo {
  font-size: 3em;
  font-weight: bold;
  color: #ffffff;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar .nav-links li a {
  font-size: 2em;
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
}

.navbar .nav-links li a:hover,
.navbar .nav-links li a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.auth-section {
  display: flex;
  gap: 10px;
}

.auth-section button {
  background: transparent;
  border: 1px solid #aaa;
  color: #fff;
  font-size: 2em;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
}

.auth-section button:hover {
  background-color: #333;
}

.home-main {
  display: flex;
  justify-content: space-between;
  padding: 10rem 14rem 5rem;
  gap: 1rem;
}

.home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 50%;
  align-items: center;
}

.company {
  font-size: 2em;
  font-weight: bold;
}

.tagline, .welcome {
  font-size: 1.25em;
}


.question, .cta-text, .user-span {
  font-size: 1.1em;
  color: #ccc;
  font-style: italic;
}

.user-span {
    margin-top: 1rem;
}

.cta-buttons {
  margin-top: 20px;
}

.btn {
  background: transparent;
  border: 2px solid #ccc;
  color: #fff;
  padding: 8px 16px;
  margin-bottom: 10px;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
  border-color: #fff;
}

.home-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;
}

.circle {
  width: 9em;
  height: 9em;
  border: 3px solid #888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 1em;
  line-height: 1.3;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal form {
  background: #222;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.modal input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.modal button {
  padding: 8px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #666;
}

.hidden {
  display: none;
}
